swagger: "2.0"

host: "vesuvius063.crd.ge.com:19091"

info:
  title: "Java to Python translation REST endpoints"
  version: "1.0"

basePath: /darpa/aske

paths:
#  /items/:
#    get:
#      operationId: translate.hello
#      responses:
#        '200':
#          description: 'Fetch a list of items'
#          schema:
#            type: array
#            items:
#              $ref: '#/definitions/Item'

  /translate/file/:
    post:
      operationId: "translate.translateFile"
      summary: "Translates an input file"
      description: ""
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "javaFile"
        in: "formData"
        required: true
        type: "file"
      responses:
        '200':
          description: 'Translate input Java file to Python'
          schema:
            $ref: '#/definitions/Result'

  /translate/method/:
    post:
      operationId: "translate.translateMethod"
      summary: "Translates an input java method"
      description: ""
      consumes:
##      - "application/x-www-form-urlencoded"
      - "text/plain: charset=utf8"
      produces:
      - "application/json"
      parameters:
      - name: "javaMethod"
        description: "Body of the Java method to translate"
        in: "body"
        required: true
        schema:
          type: "string"
      - name: "javaClassName"
        description: "Name to class to wrap around the method"
        in: "query"
        required: true
        type: "string"
      responses:
        '200':
          description: 'Translate input Java method to Python'
          schema:
            $ref: '#/definitions/Result'
   
  /translate/expression/:
    post:
      operationId: "translate.translateExpression"
      summary: "Translates an input java expression"
      description: ""
      consumes:
      - "text/plain: charset=utf8"
      produces:
      - "application/json"
      parameters:
      - name: "javaExpr"
        description: "The Java expression to translate"
        in: "body"
        required: true
        schema:
          type: "string"
      - name: "javaMethodName"
        description: "Name to method to wrap around the expression"
        in: "query"
        required: true
        type: "string"
      - name: "javaClassName"
        description: "Name to class to wrap around the method"
        in: "query"
        required: true
        type: "string"
      responses:
        '200':
          description: 'Translate input Java method to Python'
          schema:
            $ref: '#/definitions/Result'

definitions:
  Result:
    type: object
    properties:
      status:
        type: string
      code: 
        type: string
